<% content_for :title do %>
    Exit Slips
<% end %>
<%#= render 'status' %>

<% if !@response_set.nil? %>                                  
    <div class="row">
        <%= link_to "create exit slip", new_response_set_path, :class => 'button right' %>
        <h3>Recent Exit Slips</h3>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Sent</th>
                    <th>Class</th>
                    <th>Prompt</th>
                    <th>Progress</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <% @exitslips.each do |e| %>
                <tr>
                    <td><%= time_ago_in_words(e.send_time) %> ago</td>
                    <td><%= link_to e.period.title, response_set_path(e) %></td>
                    <td><%= e.question.prompt %></td>
                    <td>
                    <% if e.responses.count.to_f > 0 %>
                        <%= ((e.complete_responses.count.to_f / e.responses.count.to_f) *100).to_i %>%
                    <% else %>
                        0%
                    <% end %>
                    </td>
                    <td><%= link_to 'View Details', response_set_path(e.id) %></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% else %>
    <div class="row">
        <div class="columns large-8 small-12 small-centered first-run well">
            <h2>Welcome</h2>
            <p>Welcome to myexitslip. Lets get started:</p>
            <ol>
                <li><%= link_to "Create a period", new_period_path, class: "#{'strike' if current_teacher.periods.count > 0}" %></li>
                <li>
                    Have your students join your new <%= 'class'.pluralize(current_teacher.periods.count) %> using the <%= 'link'.pluralize(current_teacher.periods.count) %> provided
                    <ul>
                        <% @current_teacher.periods.each do |p| %>
                        <li>
                            <%= p.title %>: <kbd><%= link_to sprintf("%s/join/%s", ENV['SITE_NAME'], p.shortcode).html_safe, join_path(p.shortcode) %></kbd>
                        </li>
                        <% end %>

                    </ul>
                </li>
                <li><%= link_to "Create a question", new_question_path, class: "#{'strike' if current_teacher.questions.count > 0}" %></li>
                <li><%= link_to "Send an exit slip", new_response_set_path %></li>
            </ol>
        </div>
    </div>
<% end %>
