
<%= render 'status' %>

                                         
<div class="row">
    <%= link_to "create exit slip", new_response_set_path, :class => 'button right' %>
    <h3>Recent Exit Slips</h3>
    
</div>
                
<div class="row">
    
    <table>
        <thead>
            <tr>
                <th>Sent</th>
                <th>Title</th>
                <th>Prompt</th>
                <th>Progress</th>
            </tr>
        </thead>
        <tbody>
            <% @exitslips.each do |e| %>
            <tr>
                <td><%= time_ago_in_words(e.send_time) %> ago</td>
                <td><%= link_to e.period.title, response_set_path(e) %></td>
                <td><%= e.question.prompt %></td>
                <td>
                <% if e.responses.count.to_f > 0 %>
                    <%= ((e.complete_responses.count.to_f / e.responses.count.to_f) *100).to_i %>%
                <% else %>
                    0%
                <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>

