<% content_for :title do %>
    Exit Slips
<% end %>
<%#= render 'status' %>
<div class="container">
<% if @firstrun %>  
    <%= render 'firstrun' %> 
<% else %>
    <div class="row wrapper wrapper-content">
        <div class="col-sm-9">
            <h2>Welcome <%= current_teacher.display_name %></h2>
            <div class="well">
                <h2><%= link_to 'View Sent Exit Slips', response_sets_path, :class => 'btn btn-lg btn-primary btn-dim' %></h2>
                
                <p><%= current_teacher.last_sign_in_at  %></p>
                <p>
                    <% @new_responses.each do |r| %>
                        <%= r.id %> | 
                        <%= r.created_at %>
                    <% end %>
                </p>
            </div>
            
        </div>
        <div class="col-sm-3 dashboard-sidebar">
            <div class="col-sm-12">
                <h3>My Stats</h3>
            </div>
            <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">Sent</span>
                        <h5>Exit Slips</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins"><%= @exitslips_count %></h1>
                        <small>Exit Slips Sent</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">Percent</span>
                        <h5>Responses</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins"><%= @completion_percentage %>%</h1>
                        <small>Response Rate Percent</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">Replied</span>
                        <h5>Responses</h5>
                    </div>
                    <div class="ibox-content clearfix">
                        <h1 class="no-margins"><%= @complete_response_count %></h1>
                        <small>SMS Responses Received</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label  pull-right">incomplete</span>
                        <h5>Responses</h5>
                    </div>
                    <div class="ibox-content clearfix">
                        <h1 class="no-margins"><%= @total_response_count %></h1>
                        <small>SMS Responses Incomplete</small>
                    </div>
                </div>
            </div>
            
                
                        
        </div>
        
        <%= link_to "create exit slip", new_response_set_path, :class => 'button right' %>
        
            
        </div>
    </div>
<% end %>
</div><!--container-->
