<div class="row">
    <div class="columns small-6 small-centered">
        <h1>Join Period <%= @period.number %></h1>
        <%= simple_form_for @student do |f| %>
            <div class="form-inputs">
                <%= f.input :first_name %>
                <%= f.input :phone_number %>
                <%= f.hidden_field :period_id, value: @period.id %>
                <%= f.hidden_field :teacher_id, value: @period.teacher.id %>
            </div>    
            <div class="form-inputs">
                <%= f.button :submit, "Join" %>
            </div>
        <% end %>
    </div>
</div>