<% content_for :title do %>
 Create Student
<% end %>

<div class="row">
    <div class="main columns small-12 small-centered medium-8 large-6 join-class">
        <h1>Join Class <br /><small><%= @period.title %></small></h1>
        <%= simple_form_for @student, :url => join_path do |f| %>
            <div class="form-inputs">
                    <%= f.input :name, label: 'Your Name', placeholder: 'John Dough', :required => true, :validate => true %>
                    <%= f.input :phone_number, :as => :tel, :required => true, placeholder: '(555) 123-4579', :class => 'phonemask'  %>
                <%= f.hidden_field :period_id, value: @period.id %>
                <%= f.hidden_field :teacher_id, value: @period.teacher.id %>
            </div>    
            <div class="form-inputs">
                <div class="row">
                <div class="columns small-4">
                    <%= f.button :submit, "Join Class", :class => 'left' %>
                </div>
                <div class="columns small-8">
                    <div class="hidden left" id="err_msg">Please fill out all fields.</div>
                </div>
                    </div>
            </div>
        <% end %>
    </div>
</div>