<%= form_for @period do |f| %>
    
    <div class="form-inputs">
        
        
        
        <%= f.label :title %>
        <%= f.text_field :title, label: 'Class Title' %>
        <%= f.label :number %>
        <%= f.select :number, options_for_select((1..8).to_a.collect { |v| v.to_i }) %>
    
        
    </div>
    <div class="form-inputs">
        <%= f.submit @period.new_record? ? "Create" : "Update", class:"button" %>
    </div>
<% end %>