<% content_for :title do %>
    My Classes
<% end %>

<div class="row">
    <div class="col-sm-12 wrapper wrapper-content">
        <p><%= link_to "Create New Class", new_period_path, :class => "button" %></p>
    </div>
</div>
<div class="row" data-equalizer>
    <div class="col-sm-12">
    <% @periods.each_with_index do |p,i| %>
    <div class="col-sm-4" data-equalizer-watch>
        <div class="ibox-content">
            <h4><%= p.title %></h4>
            <% if p.students.count < 1 %>
                <p>Please direct your students to visit the following link to join this class.</p>
                <p><kbd><%= link_to sprintf("%s/join/%s", ENV['SITE_NAME'], p.shortcode).html_safe, join_path(p.shortcode) %></kbd></p>
            <% else %>
                <p><%= pluralize(p.response_sets.count, 'Response set') %> sent</p>
                <p><%= pluralize(p.students.count, 'Student') %></p>
                <ul class="button-group small even-3">
                    <li><%= link_to "View Class", period_path(p.id), :class => 'button small' %></li>
                    <li><%= link_to "Join Class", join_path(p.shortcode), :class => 'button small' %></li>
                    <li><%= link_to "Edit Class", edit_period_path(p.id), :class => 'button small' %></li>
                </ul>
            <% end %>
        </div>
    
    </div>

    <% end %>
    </div>
</div>
    