<div class="row">
    <div class="columns small-8">
        <%= @period.title %>
    </div>
    <div class="columns small-4 text-right">
        <span class="label round">Period <%= @period.number.to_s %></span>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <% if @period.students.count > 0 %>
        <table class="adminStudents">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Lock Out </th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% @period.students.each do |student| %>
                <tr data-student-id="<%= student.id %>">
                    <td><%= student.name %></td>    
                    <td><%= student.email %></td>
                    <td><%= student.phone_number %></td>
                    <td class="studentLock">
                        <i class="fa lock <%= student.locked ? 'fa-lock' : 'fa-unlock' %>"></i>
                    </td>
                    <td class="studentDelete">
                        <%= link_to 'Delete', student_path(student.id), :method =>:delete, data: { confirm: 'Are you sure?' }, "data-type" => "json" %>
                    </td>

                </tr>
                <% end %>
            </tbody>
        </table>
        <% else %>
            <h5>No Students</h5>
            <p>No students have joined this class yet. You can invite them to join by going to <kbd><%= link_to sprintf("%s/join/%s", ENV['SITE_NAME'], @period.shortcode).html_safe, join_path(@period.shortcode) %></kbd> </p>
        
        <% end %>
    </div>
</div>