<div class="row">
    <div class="columns small-8">
        <%= @period.title %>
    </div>
    <div class="columns small-4 text-right">
        <span class="label round">Period <%= @period.number.to_s %></span>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <table>
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Email</th>
                    <th>Lock Out </th>
                </tr>
            </thead>
            <tbody>
                <% @period.students.each do |student| %>
                <tr data-student-id="<%= student.id %>">
                    <td><%= student.display_name %></td>    
                    <td><%= student.email %></td>
                    <td class="studentLock"><i class="fa lock <%= student.locked ? 'fa-lock' : 'fa-unlock' %>"></i></td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>