<div class="row">
    <div class="small-12 columns small-centered">
        
        <%= simple_form_for @response_set do |f| %>
        <div class="form-inputs">
            <%= f.input :question_id, collection: @questions, label_method: :show_prompt, required: true %>
            <%= f.input :period_id, collection: @periods, required: true %>
            <small>Times not working yet. Stand by</small>
            <%= f.input :send_time, as: :string, input_html:{class: "datetimepicker", disabled: true}, disabled: 'disabled' %>
        </div>
        <div class="form-inputs">
            <%= f.button :submit,  'Send Now' %>
        </div>
        <% end %>
    </div>
</div>