<div class="columns small-6">
    <h3>Exit Slip</h3>
    <p>Sent: <%= @response_set.send_time.strftime('%B %m, %Y at %l:%M %P') %></p>
    <p>Question: <%= @response_set.question.prompt %></p>
    <p>Period: <%= @response_set.period.title %></p>
    
</div>
<div class="columns small-6">
    <h3>Students</h3>
    <p>Sent to <%= pluralize(@sms_sent_to.count, 'Student') %> </p>
    <ul>
    <% @sms_sent_to.each do |s| %>
        <li>
            <strong><%= s.student.name %></strong>
            <% if s.response_text.nil? %>
                <i class="fa fa-circle-o" title="has not responded"></i>
            <% else %>
                <i class="fa fa-check-circle-o" title="has responded"></i>
                <br />
                <span class="response"><%= s.response_text %></span>
            <% end %>
            
            
        </li>
    <% end %>
    </ul>
</div>