<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? APP_CONFIG['site_name'] + " - " +yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "//code.jquery.com/jquery-1.11.2.min.js" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
      
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#"><%= APP_CONFIG['site_name'] %></a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <% if teacher_signed_in? %>
          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">

              <li class="has-dropdown">
                <a href="#">
                    <% if current_teacher.avatar? %>
                    <%= image_tag current_teacher.avatar_url(:thumb).to_s, :class => "round" %>  
                    <% end %>
                    <%= current_teacher.email %></a>
                <ul class="dropdown">
                    <li><%=link_to 'Edit Profile', edit_teacher_registration_path %> </li>
                    <% if teacher_signed_in? %>
                      <li><%= link_to 'Logout', destroy_teacher_session_path, :method => :delete %></li>
                    <% else %>
                      <li><%= link_to 'Login', new_teacher_session_path %></li>
                    <% end %>
                </ul>
              </li>
            </ul>

            <!-- Left Nav Section -->
            <ul class="left">
              <li><%= link_to 'Classes', periods_path %></li>
              <li><%= link_to 'Questions', questions_path %></li>
            </ul>
          </section>
      <% end %>
    </nav>
    <%= yield %>

  </body>
</html>
